.asset-current {
  display: flex;
  flex-direction: column;
}

.asset-nickname {
  text-align: start;
  font-family: var(--font-IbmPlexSansKrLightRegular)
}

.asset-chart {
  font-family: var(--font-IbmPlexSansKrLightRegular);
}

#lines {
  border : 0;
  height: 8px;
  width: 100vw;
  background-color: #F4F4F4;
  border-color: white;
  text-align: left;
  margin-left: -6vw;
}