.simulation {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2vh;
    align-items: center;

}

#lines {
    border : 0;
    height: 8px;
    width: 100vw;
    background-color: #F4F4F4;
    border-color: white;
    text-align: left;
    margin-left: -6vw;
}
.date {
    font-family: var(--font-digi);
    font-size: 40px;
}

.simul-btn {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.si-btn {
    margin-left: 5px;
    margin-right: 5px;
}