.space-between {
    display: flex;
    justify-content:space-between;
}
 
.space-margin {
    margin: 6vw;
}

.divbox {
    background-color: F4F4F4;
}

.selectDay {
    display: flex;
    margin: 6vw;
}

.selectDay div {
    margin: auto
}