.main-container {
    display: flex;
    flex-direction: column;
    position : relative;
    padding-bottom: 12.5vh;
    margin-left: 6vw;
    margin-right: 6vw;    
    margin-top : 2.5vh;
}

.space-between {
    display: flex;
    justify-content: space-between;
}
 
.space-margin {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.divbox {
    background-color: #F4F4F4;
    padding: 16px;
    float : left;
}

.divbox > * {
    justify-content: flex-start;
}

.selectDay {
    display: flex;
    margin: 6vw;
}

.selectDay div {
    margin: auto
}

.charts-title {
    display: flex;
    font-size: 24px;
    margin-bottom: 8px;
}

.charts-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.detail-header {
    display: flex;
    justify-content : space-between;
    height: 3vh;
    margin: 10px 0px 20px;
}

.mirilogo2 {height: 100%;}

.detail-title {
    height: 40px;
    margin-bottom: 2px;
    display: flex;
    align-items: flex-end;
    font-family: var(--font-IbmPlexSansKrLightRegular);
    vertical-align: bottom;
}

.detail-title > b {
    font-size: 24px;
    margin-right: 5px;
    font-family: var(--font-IbmPlexSansKrLightRegular);
}

.detail-title > span {
    font-size: 16px;
    margin-left: 5px;
    font-family: var(--font-IbmPlexSansKrLightRegular);
}

.detail-title > div {
    font-size: 32px;
    vertical-align: middle;
    margin-left: auto;
}