.board {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    align-items: center;
}

.board-1 > span{
    margin-top: auto;
    margin-bottom: auto;
}

.article-search {
    margin-bottom: 16px;
}


.comment > span {
    font-size: 16px;
    
}

#QnALogo {
    width: 7rem;
    height: auto;
}

#article-createbtn {
    color: black;
    border: 4px solid #6DCEF5;
    border-radius: 20px;
    font-weight: bold;
}

#article-createimg {
    width: 2rem;
    margin-right: 4px;

}

#article-createbtn > span {
    font-size: 16px;
    font-family:  var(--font-NanumGothicCoding);
}
