.article-item {
    display: flex;
    flex-direction: column;
    padding-top: 0.95vh;
    margin-bottom: 2.86vh;
    border-bottom: 4px solid #6DCEF5 ;
}

.userid {
    display: flex;
    padding-bottom: 1.9vh;
    font-size: 24px;
    font-weight: bold;
    margin-left: 4vw;
    margin-right: 4vw;
    justify-content: space-between;
}

#item-createAt {
    font-size: 1rem;
    color: #C4C4C4;;
}

.article-title {
    text-align: left;
    font-size: 1.2rem;
    margin-bottom: 1.43vh;
    margin-left: 4vw;
    margin-right: 4vw;
    
}

.article-title > * {
    font-weight: bold;
    font-size: 20px
    
}

.article-content {
    margin-top: 24px;
    text-align: left;
    padding-bottom: 1.9vh;
    font-size: 1rem;
    margin-left: 4vw;
    margin-right: 4vw;
    padding-top: 4px;
    font-size: large;

}

.content-open {
    max-height: 100%;
    line-height: 30px;
}

.content-close {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-height: 30px;
 
}

.icon {
    display: flex;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.comment {
    margin-left: 4vw;
    margin-right: 2vw;
    font-size: xx-large;
}

.item-btn {
    display: flex;
    margin-left: auto;
    justify-content: space-around;
}

.item-btn * {
    margin-left: 8px;
}
