.namepage {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;

}

.view {
  display: flex;
  flex-direction: column;
  margin-top: 11.2vh;
  justify-content: center;
}
.setname {
  display: flex;
  flex-direction: column;
  margin-left: 6vw;
  margin-right: 6vw;
  position: relative;
  margin: auto;
}


.text-1 {
  text-align: start;
  font-size: 1.5em; 
  margin-bottom: 2.86vh;
}

.nameInput {
  display: flex;
  font-size: 1.25em;

}

#nickname {
  font-family: 'Nanum Gothic Coding';
}

.lenError {
  color : red;
}

.noError {
  color : black;
}

.createBtn {
  margin-top: 128px;
}

#createBtn {
  border: 2px solid #6DCEF5;
  color: #6DCEF5;
  height: 4rem;
  width: 10rem;
  margin-left: auto;
  margin-right: auto;
  
}

#createBtn:hover{
  background-color: #6DCEF5;
  color: white;
}