.swal2-html {
  font-family: var(--font-IbmPlexSansKrLightMedium);
}

.text-right {
  text-align: right;
}

.hope-body {
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px #6DCEF5;
  margin: 0px 0px 15px;
}

.disabled-body {
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px #8b8b8b;
  margin: 0px 0px 15px;
}

.hope-title {
  color : #6DCEF5;
  text-align: left;
  margin: 4px 0px 0px;
  font-family: var(--font-IbmPlexSansKrLightMedium);
}

.disabled-title {
  color : #8B8B8B;
  text-align: left;
  margin: 4px 0px 0px;
  font-family: var(--font-IbmPlexSansKrLightMedium);
}

.hope-input {
  display: flex;
  justify-content : flex-end;
  text-align: right;
  margin: 0px 4px;
  font-size: 24px;
}

.hope-input div {
  font-family: var(--font-IbmPlexSansKrLightRegular);
}

.hope-money {
  color :#000000;
  margin: 0px 8px;
}

.possible-body {
  display: flex;
  flex-direction: column;
  height: 30px;
  margin: 12px 0px;
  color : #8B8B8B;
}

.possible-content {
  display: flex;
  justify-content : space-between;
  height: 3vh;
  margin: 0px 0px 0px;
  font-size: 12px;
  align-items: center;
}

.persent-btn {
  margin: 4px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.keypad-layout {
  margin: 8px 0px 16px;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 0px 16px;
  }
  
.keypad-layout > div {   
  width: 56px;
  height: 56px;
  margin: auto;
  font-size: 32px;
}

.keypad-layout > div > div {
  border-radius: 100px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content : center;
  align-items: center;
  font-family: var(--font-IbmPlexSansKrLightRegular);
}

.click-num {
  border-radius: 100px;
  background-color: rgba(109, 206, 245, 0.5);
}

.trade-btn {
  display: flex;
  align-items: center;
  height: 46px;
  font-size: 24px;
  color : #FFFFFF;
}

.trade-nonbtn {
  display: flex;
  align-items: center;
  height: 46px;
  font-size: 16px;
  color : #FFFFFF;
}

/* .finaltrade-btn {
  font-size: 12px;
  color : #FFFFFF;
} */