.port-chart {
    display: flex;
    flex-direction: column;
}

.portfolio-nickname {
    margin-top: 6.66vh;
    margin-left: 6vw;
    text-align: left;
    font-size: 1.5rem;
    font-weight: bold;
}


.portfolio-chart1 {
    /* width: 100%; */
}